<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/logo.png" width="170">
        </div>
        <div class="col-md-6">
            <mat-tab-group>
                <mat-tab label="Data"></mat-tab>
                <mat-tab label="Blog"> </mat-tab>
                <mat-tab label="About Us"> </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-md-4 sign-in">
            <span><b>Sign In </b> &ensp;&ensp;&ensp;&ensp;</span>
            <span class="email">
                <input placeholder="Enter your email">
                <button mat-button class="start-btn">Get Started</button>
            </span>
        </div>
    </div>
</div>
