<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h1>
        GREENDECK
      </h1>
      <p>
        Competition Intelligence for Fashion Brands and Retailers
      </p>
    </div>
    <div class="col-md-3">
      <h1>
        PRODUCT
      </h1>
      <p>
        Tech
      </p>
    </div>
    <div class="col-md-3">
      <h1>
        COMPANY
      </h1>
      <p>
        Blog
      </p>
      <p>
        Webinar
      </p>
    </div>
    <div class="col-md-3">
      <h1>
        CONTACT US
      </h1>
      <section>
        <p class="office-name">Inida Office</p>
        <span>
          Germany Office Mindspace Krausenstraße, Krausenstraße 9-10, 10117 Berlin, Germany
        </span>
        <p>Sales: sales@greendeck.co</p>
      </section>
    </div>
  </div>
</div>